@import 'quasar.variables.sass'

// app global css in Sass form
.small-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: block
  @media (min-width: $breakpoint-sm-min)
    display: none

.large-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: none
  @media (min-width: $breakpoint-sm-min)
    display: block

.constrain
  max-width: 975px
  margin: 0 auto

// Overall app theme //
body
  font-family: 'Open Sans', sans-serif
  font-size: 15px

html
  // Force scrollbar visible at all times
  overflow-y: scroll
  overflow-x: hidden

// Style scrollbar
::-webkit-scrollbar
  width: 7px

::-webkit-scrollbar-track
  background-color: $dark

::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: rgba(white, 0.4)

// Override default dark body background
body.body--dark
  background-color: $dark

// Override default dark card background
.q-card--dark
  background-color: rgba($dark, 0.3)
//background-color: $dark

// Override default dark editor background
.q-editor--dark
  background-color: rgba($dark, 0.3)

// Override default dark editor background
.q-dialog-plugin--dark
  background-color: rgba($dark, 0.9)

// Override default footer color
.q-footer
  background-color: rgba($dark, 0.9)
  border-top-left-radius: 20px
  border-top-right-radius: 20px

// Prepare background for color switching using transparent gradients
.background
  content: ''
  display: block
  position: fixed
  left: 0
  top: 0
  height: 100vh
  width: 100vw

.background.gradient-color
  z-index: -2000
  background-size: 130% 100%
  animation: breathing 10s infinite ease

@keyframes breathing
  0%
    background-position: 0 0
  50%
    background-position: 100% 0
  100%
    background-position: 0 0

.background.gradient-darken
  z-index: -1000
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #090707)

// Configure color schemes for BackgroundGradient.js plugin //
.background.gradient-color.forum
  background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%)

.background.gradient-color.feed
  background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%)

.background.gradient-color.post-editor
  background-image: linear-gradient(60deg, #208ea2, #9ebf38)

.background.gradient-color.user-profile
  background-image: linear-gradient(120deg, #537895 0%, #09203f 74%)

.background.gradient-color.my-posts
  background-image: linear-gradient(130deg, #b74f4f, #c39848)

.background.gradient-color.auth
  background-image: linear-gradient(120deg, #537895 0%, #09203f 74%)

.background.gradient-color.fun
  background-image: linear-gradient(90deg, #cf5c5c, #c19b4a, #def2a0, #c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a)
  background-size: 1100% 100%
  animation: animateBg 5s linear infinite

@keyframes animateBg
  0%
    background-position: 0 0
  100%
    background-position: 100% 0

// Gradient transition animation //
.background.gradient-color.transition
  opacity: 0
  animation: fadeIn 1s ease forwards

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

// MainLayout styling //

.q-toolbar__title
  font-size: 30px
  font-family: 'Montserrat', sans-serif
  font-weight: 500
  color: white
  padding: 0

.q-toolbar
  @media (min-width: $breakpoint-xs-min)
    height: $navbar-height

.logo
  @media (min-width: 315px)
    align-items: center
    justify-content: center

.logo-text
  @media (max-width: 414px)
    //font-size: 25px
    //display: none

.logo-text-link
  color: white
  text-decoration: none

.menu-list-bg
  position: absolute
  width: 100%
  height: 100%
  border-radius: 0 32px 32px 0
  background-color: rgba($dark, 0.85)
  overflow: hidden

.drawer-list
  border-radius: 0 32px 32px 0
  transition: background-color 0.5s
  overflow: hidden
  background-color: rgba($dark, 0.3)

.drawer-list:hover
  @media (max-width: $breakpoint-md-max)
    background-color: rgba($dark, 0.85)

.drawer-list .q-item
  border-radius: 0 32px 32px 0

.toolbar
  background-color: transparent
  transition: background-color 0.3s ease

.toolbar.scroll
  background-color: rgba($dark, 0.85)

#pixel-anchor-toolbar-scroll
  position: absolute
  width: 1px
  height: 1px
  top: 50px
  left: 0


.q-drawer--dark
  background-color: rgba($dark, 0)

.q-drawer--dark.q-drawer--mobile
  background-color: $dark

.q-tab-panels--dark
  background-color: rgba($dark, 0.0)

// Miscellaneous styles //

.links-primary
  a, a:active, a:hover, a:visited
    text-decoration: none
    color: $primary

.post-content
  img
    max-width: 90%
    @media (min-width: $breakpoint-md-min)
      max-width: 500px

.emoji-picker-color-override
  --ep-color-bg: #{rgba($dark, 0.8)} !important
  --ep-color-sbg: #{rgba($dark, 0.3)} !important
  --ep-color-active: #{$primary} !important

.scroll-margin-navbar
  scroll-margin-top: $navbar-height + 10px

.overflow-wrap
  overflow-wrap: break-word
  word-break: break-word

.post-shortened
  max-height: 250px


// Transition animations //

.fade-enter-active,
.fade-leave-active
  transition-duration: 0.3s
  transition-property: height, opacity
  transition-timing-function: ease
  overflow: hidden

.fade-enter,
.fade-leave-active
  opacity: 0

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active
  transition-duration: 0.3s
  transition-property: height, opacity, transform
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1)
  overflow: hidden

.slide-left-enter,
.slide-right-leave-active
  opacity: 0
  transform: translate(2em, 0)

.slide-left-leave-active,
.slide-right-enter
  opacity: 0
  transform: translate(-2em, 0)

.zoom-enter-active,
.zoom-leave-active
  animation-duration: 0.3s
  animation-fill-mode: both
  animation-name: zoom

.zoom-leave-active
  animation-direction: reverse

@keyframes zoom
  0%
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)
  100%
    opacity: 1
